body {
  display: flex;
  justify-content: center;
  background: rgb(234, 234, 234);
  min-height: 100vh;
  border-top: 4px solid #d6d6d6;
  border-right: 4px solid #d6d6d6;
  border-left: 4px solid #d6d6d6;
}
